chardet==3.0.4
hiredis==0.2.0
python-dateutil==2.7.2
PyYAML==3.12
tzlocal==1.5.1
cloudinary==1.7.0
celery==4.2.1
pony==0.7.6
pytz==2018.7
redis==3.0.1
requests==2.20.1
socketIO-client-nexus==0.7.6
cx-Oracle==7.0.0
Jinja2==2.10
